body {
  background-color: hsl(0, 11%, 95%);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  background-color: white;
  box-shadow: 0px 0px 50px rgb(255, 255, 255);
  max-width: 600px;
  padding: 3rem;
  border-radius: 25px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 40px;
}

button {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  box-shadow: 20px 20px 30px hsl(0, 0%, 88%);
  background-color: white;
  transition: 70ms ease-in;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 95%);
  transform: translateY(-1px) scale(1.05);
  box-shadow: 10px 30px 30px hsl(0, 0%, 90%);
  filter: brightness(1.04);
}

.display {
  height: 100px;
  width: 100%;
  border: 4px solid hsl(0, 0%, 95%);
  padding-top: 20px;
  background-color: rgb(207, 207, 207);
  border-radius: 12px;
  box-shadow: 0px 0px 30px hsl(0, 0%, 90%);
  color: black;
  text-align: end;
  padding-right: 20px;
  font-size: 2rem;
  font-weight: bold;
}
